@charset "utf-8";
/* CSS Document */

.container {
	text-align:center;
	margin:auto;
	
}


h1 {
	
	text-align:center;
	font-family:arial;
	color:#0084b4;
	
	
}


h5 {
	text-align:center;
	margin-top:-20px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:#373737
	
}

form {
	text-align:center;
	
	
}

input {
	display:block;
	width:30%;
	margin-bottom:100px;
	margin:auto;
	border: 2px solid #0084b4;
	
}

button {
	
	text-align:center;
	margin:auto;
	width:15%;
}
